/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS
Tints & shades ...
0%	    10%	    20%	    30%	    40%	    50%	    60%	    70%	    80%	    90%  	100%
94D82D	85C229	76AD24	68971F	59821B	4A6C17	3B5612	2C410D	1E2B09	0F1604	000000
94D82D	9FDC42	A9E057	B4E46C	BFE881	CAEC96	D4EFAB	DFF3C0	EAF7D5	F4FBEA	FFFFFF

- Primary: #94D82D

- Tints:  #eaf7d5   #DFF3C0     #D4EFAB

- Shades: #cf711f   #0f1604     #1e2b09     #2c410d

- Accents:
- Greys
#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 62.5 >> 16px 1rem >> 10px */
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/*********************************/
/* General reuseable components */
/*********************************/

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.center-text {
  text-align: center;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

strong {
  font-weight: 500;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid-center-v {
  align-items: center;
}

.grid--2cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5cols {
  grid-template-columns: repeat(5, 1fr);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #333;
  letter-spacing: 0.5px;
  font-weight: 700;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  color: #85c229;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  font-size: 2rem;
  border-radius: 10px;
  color: inherit;
  transition: all 0.33s;
  font-weight: 500;

  /* for .btn itself */
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn-form {
  background-color: #0f1604;
  color: #ddd;
  align-self: end;
  padding: 1.2rem;
}

.btn-form:hover {
  background-color: #fff;
  color: #555;
}

.btn--cta:link,
.btn--full:visited {
  background-color: #85c229;
  color: #fff;
}

.btn--cta:hover,
.btn--full:active {
  background-color: #94d82d;
  color: #333;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #f4fbea;
  color: #333;
  border: 1px solid #85c229;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #dee2d9;
  color: #0f1604;
  border: 1px solid #adb99a;
}

*:focus {
  outline: 0.3rem dashed #85c229;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-icon {
  font-size: 3rem;
  color: #85c229;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.6rem;
}

.link:link,
.link:visited {
  color: #85c229;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  padding-bottom: 2px;
  transition: all 0.33s;
}

.link:hover,
.link:active {
  color: #85c229;
  border-bottom: 1px solid transparent;
}
